@import "utils/index";

@import "components/index";


span.section-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    color: var(--action);
    font-family: var(--font_spacegrotesk);
    letter-spacing: 1px;
}

.section-title {
    font-size: 56px;
    letter-spacing: -1.25px;

    @media #{$xxl} {
        font-size: 52px;
    }

    @media #{$lg} {
        font-size: 44px;
    }

    @media #{$md} {
        font-size: 38px;
    }

    @media #{$sm} {
        font-size: 32px;
    }

    &.large {
        font-size: 64px;
        line-height: 1.12;
        letter-spacing: -1.6px;

        @media #{$xxl} {
            font-size: 56px;
        }

        @media #{$lg} {
            font-size: 48px;
        }

        @media #{$md} {
            font-size: 42px;
        }

        @media #{$sm} {
            font-size: 36px;
        }
    }
}

.section-spacing {
    padding-top: 120px;
    padding-bottom: 120px;

    @media #{$xxl} {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media #{$xl} {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media #{$lg} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.section-spacing-top {
    padding-top: 120px;

    @media #{$xxl} {
        padding-top: 100px;
    }

    @media #{$xl} {
        padding-top: 80px;
    }

    @media #{$lg} {
        padding-top: 60px;
    }
}

.section-spacing-bottom {
    padding-bottom: 120px;

    @media #{$xxl} {
        padding-bottom: 100px;
    }

    @media #{$xl} {
        padding-bottom: 80px;
    }

    @media #{$lg} {
        padding-bottom: 60px;
    }
}

.container {
    &.large {
        @media (min-width: 1600px) {
            max-width: 1550px;
        }
    }

}

/* header area style  */
.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &__inner {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        height: 100px;

        &>*:first-child {
            margin-inline-end: auto;
        }
    }

    .header__logo {
        img {
            @media #{$md} {
                max-width: 150px;
            }
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .t-btn-primary {
        padding: 14px 25px;

        @media #{$md} {
            padding: 11px 20px;

        }

    }

    .header__navicon {
        img {
            @include rtl {
                transform: rotateY(180deg);
            }
        }
    }

}

/* header top area style  */
.header-top-area {
    background-color: var(--theme);

    &-inner {
        padding: 8px 0;
    }

    .contact-meta {
        display: flex;
        align-items: center;
        gap: 30px;

        .text {
            color: var(--primary);
        }
    }

    .contact-item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .section-content {
        display: grid;
        gap: 0 60px;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }


    .social-links {
        display: flex;
        gap: 10px;

        a {
            width: 34px;
            height: 34px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: var(--white);
            border-radius: 50%;

            &:hover {
                background-color: var(--action);
                color: var(--white);
            }
        }
    }
}



/* footer area style  */

.footer-area {
    background-color: var(--bg);

    .section-title {
        max-width: 410px;
    }
}

.subscription-area-inner {
    padding-top: 96px;
    padding-bottom: 44px;
    display: grid;
    gap: 10px 60px;
    grid-template-columns: 1fr 510px;
    align-items: center;
    border-bottom: 2px solid var(--primary);

    @media #{$xxl} {
        padding-top: 76px;
    }

    @media #{$lg} {
        padding-top: 56px;
        padding-bottom: 34px;
        grid-template-columns: 1fr 470px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }

    .subscribe-form {
        margin-top: 20px;

        .input-field {
            display: flex;
            gap: 10px;

            input {
                width: 100%;
                height: 44px;
                border: 1px solid var(--primary);
                border-radius: 50px;
                padding: 0 20px;
                background-color: var(--bg);
                outline: 0;
                filter: drop-shadow(0px 2px 0px var(--primary));
            }

            .t-btn-primary {
                padding: 0 40px;
            }
        }

    }


}

.footer-widget-wrapper-box {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;

    @media #{$xxl} {
        padding-bottom: 80px;
    }

    @media #{$lg} {
        padding-bottom: 60px;
    }

    .area-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;


        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

}

.footer-widget-wrapper {
    display: grid;
    gap: 30px 50px;
    grid-template-columns: 330px auto auto auto;
    justify-content: space-between;

    @media #{$xl} {
        grid-template-columns: 260px auto auto auto;
    }

    @media #{$lg} {
        grid-template-columns: auto auto auto;
    }

    @media #{$md} {
        grid-template-columns: 1fr 1fr;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }
}

.copyright-area-inner {
    border-top: 1px solid #00000010;
    display: grid;
    gap: 10px 60px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;

    @media #{$md} {
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 15px 27px;
        flex-wrap: wrap;

        @media #{$sm} {
            justify-content: center;
        }
    }
}

.footer-widget-box {
    .description-text {
        margin-top: 36px;

        @media #{$xxl} {
            margin-top: 21px;
        }
    }

    .title {
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 42px;

        @media #{$xxl} {
            margin-bottom: 22px;

        }
    }

    .contact-meta>*:not(:first-child) {
        margin-top: 16px;
    }

    .contact-item {
        display: flex;
        align-items: center;
        gap: 14px;

        .icon {
            width: 40px;
            min-width: 40px;
            height: 40px;
            display: inline-flex;
            border: 1px solid var(--primary);
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--primary);
        }
    }
}

.footer-nav-list {
    li {
        line-height: 2;

        &:not(:first-child) {
            margin-top: 10px;
        }

        a {
            display: flex;
            align-items: center;
            gap: 15px;

            i {
                color: var(--primary);
            }
        }
    }
}

/* hero area style  */
.hero-area {
    &-inner {
        padding-top: 137px;
        display: grid;
        gap: 40px 60px;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-between;

        @media #{$md} {
            grid-template-columns: 340px auto;
            align-items: flex-end;
        }

        @media #{$sm} {
            grid-template-columns: auto;
        }
    }

    .section-title {
        max-width: 530px;

    }

    .section-content {
        padding: 40px 0;

        .text {
            max-width: 380px;
        }

        .btn-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
            margin-top: 32px;

            @media #{$lg} {
                margin-top: 22px;

            }
        }

        .title-wrapper {
            margin-top: 22px;

            @media #{$lg} {
                margin-top: 12px;
            }
        }

        .text-wrapper {
            margin-top: 24px;

            @media #{$lg} {
                margin-top: 14px;

            }
        }

    }

    .hero-thumb {
        max-width: 650px;

        @media #{$xxl} {
            max-width: 600px;
        }
    }
}

/* services area style  */
.service-area {
    background-color: var(--bg);

    .section-title {
        max-width: 500px;
        margin-inline: auto;
    }


    .section-header {
        text-align: center;

        .title-wrapper {
            margin-top: 10px;
        }
    }

    .services-wrapper {
        display: grid;
        gap: 60px 60px;
        grid-template-columns: repeat(2, 440px);
        justify-content: space-between;
        position: relative;

        @media #{$xl} {
            grid-template-columns: repeat(2, 400px);
        }

        @media #{$lg} {
            grid-template-columns: repeat(2, 320px);
            gap: 40px 60px;

        }

        @media #{$sm} {
            grid-template-columns: repeat(1, 1fr);
        }

        .shape-1 {
            position: absolute;
            width: 385px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media #{$xl} {
                width: 335px;
            }

            @media #{$sm} {
                display: none;
            }
        }
    }

    .services-wrapper-box {
        margin-top: 28px;
    }
}


.service-box {
    border: 1px solid var(--primary);
    border-radius: 20px;
    padding: 0 40px 38px;
    background-color: var(--bg);
    filter: drop-shadow(0px 3px 0px var(--primary));
    margin-top: 40px;

    @media #{$xl} {
        padding: 0 30px 28px;

    }

    .icon {
        width: 80px;
        height: 80px;
        border: 1px solid var(--primary);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme);
        filter: drop-shadow(0px 2px 0px var(--primary));
        margin-top: -40px;
    }

    .title {
        font-size: 24px;
        line-height: 1.33;

        @media #{$lg} {
            font-size: 20px;

        }
    }

    .content {
        margin-top: 50px;

        @media #{$xl} {
            margin-top: 40px;
        }
    }

    .text {
        margin-top: 10px;
    }
}

/* about area style  */
.about-area {
    .section-title {
        max-width: 810px;

        @media #{$lg} {
            max-width: 610px;
        }
    }

    .section-header {
        .title-wrapper {
            margin-top: 10px;
        }
    }

    .section-content {
        margin-top: 50px;
        display: grid;
        gap: 20px 60px;
        grid-template-columns: auto 635px;
        align-items: center;

        @media #{$xl} {
            grid-template-columns: auto 500px;
            margin-top: 30px;
        }

        @media #{$lg} {
            grid-template-columns: auto 430px;
            align-items: flex-start;
        }

        @media #{$md} {
            grid-template-columns: auto;
        }

        .thumb {
            max-width: 585px;
            border-radius: 16px;
            overflow: hidden;
            border: 1px solid var(--primary);
            filter: drop-shadow(0px 3px 0px var(--primary));

            img {
                width: 100%;
            }
        }

        .feature-list {
            margin-top: 22px;

            li {
                font-size: 18px;
                color: var(--primary);
                font-weight: 500;
                font-family: var(--font_spacegrotesk);
                display: flex;
                gap: 15px;
                line-height: 1.77;

                &:not(:first-child) {
                    margin-top: 18px;

                    @media #{$xxl} {
                        margin-top: 8px;
                    }
                }

                i {
                    font-size: 14px;
                    color: var(--action);
                    margin-top: 9px;
                }
            }
        }



        .btn-wrapper {
            margin-top: 32px;
        }
    }
}

/* counter area style  */
.counter-area {

    .counter-wrapper {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .counter-box {
        background-color: var(--bg);
        padding: 20px 20px;
        border: 1px solid var(--primary);
        filter: drop-shadow(0px 2px 0px var(--primary));
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 15px;

        .icon {
            width: 86px;
            height: 86px;
            min-width: 86px;
            background-color: var(--action);
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            @media #{$xl} {
                width: 66px;
                height: 66px;
                min-width: 66px;
            }

            img {
                max-height: 45px;

                @media #{$xl} {
                    max-width: 35px;
                }
            }
        }

        .number {
            font-size: 62px;

            @media #{$xl} {
                font-size: 42px;
            }
        }

        .text {
            font-size: 18px;
            line-height: 1.4;

            @media #{$xl} {
                font-size: 16px;
            }
        }

        .content {
            display: grid;
            gap: 0px 10px;
            grid-template-columns: 1fr auto;
            align-items: center;

            @media #{$xl} {
                grid-template-columns: auto;
            }
        }
    }

}

/* project area style  */
.project-area {
    .section-title {
        max-width: 620px;
        margin-inline: auto;

        @media #{$lg} {
            max-width: 520px;
        }
    }

    .section-header {
        text-align: center;

        .title-wrapper {
            margin-top: 10px;
        }
    }

    .projects-wrapper-box {
        margin-top: 50px;

        @media #{$xl} {
            margin-top: 30px;
        }
    }

    .projects-wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        >* {
            display: inline-block;
            width: 40%;

            @media #{$lg} {
                width: calc(50% - 15px);

            }

            @media #{$sm} {
                width: 100%;
            }

            &.large {
                width: calc(60% - 30px);

                @media #{$lg} {
                    width: calc(50% - 15px);

                }

                @media #{$sm} {
                    width: 100%;
                }
            }
        }

    }
}

.project-box {
    border: 1px solid var(--primary);
    border-radius: 16px;
    filter: drop-shadow(0px 3px 0px var(--black));
    background-color: var(--black);
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &:hover {
        .content {
            bottom: 20px;
            opacity: 1;
        }

        .thumb {
            img {
                transform: scale(1.1);
            }
        }
    }

    .thumb {
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media #{$lg} {
            max-height: 280px;
        }

        @media #{$md} {
            max-height: 200px;
        }

        @media #{$sm} {
            max-height: 300px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
        }
    }

    .content {
        position: absolute;
        bottom: 0px;
        width: 480px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--bg);
        padding: 30px 60px 38px;
        text-align: center;
        border: 1px solid var(--primary);
        border-radius: 20px;
        filter: drop-shadow(0px 3px 0px var(--primary));
        opacity: 0;
        transition: all 0.5s;

        @media #{$xl} {
            padding: 20px 30px 28px;
            width: 410px;
        }

        @media #{$lg} {
            position: static;
            width: 100%;
            transform: none;
            opacity: 1;
            border-radius: 0;
            border: none;
            filter: none;
        }
    }

    .title {
        font-size: 24px;
        line-height: 1.33;
    }

    .text {
        margin-top: 20px;
    }
}

/* faq area style  */
.faq-area {
    background-color: var(--bg);

    &-inner {
        display: grid;
        gap: 40px 60px;
        grid-template-columns: 630px 585px;
        justify-content: space-between;
        align-items: center;

        @media #{$xl} {
            grid-template-columns: 1fr 505px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 355px;
            align-items: flex-start;
        }

        @media #{$md} {
            grid-template-columns: 1fr;

        }
    }

    .faq-thumb {
        max-width: 585px;
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid var(--primary);
        filter: drop-shadow(0px 3px 0px var(--primary));

        @media #{$lg} {
            margin-top: 155px;
        }

        @media #{$md} {
            margin-top: 0px;
        }

        img {
            width: 100%;
        }
    }

    .section-content {
        .text-wrapper {
            margin-top: 14px;
        }
    }

    .accordion-faq {
        margin-top: 39px;

        @media #{$lg} {
            margin-top: 29px;

        }
    }

    .accordion {

        .accordion-button {
            font-size: 18px;
            line-height: 1.77;
            font-weight: 500;
            color: var(--primary);
            background-color: var(--bg);
            border: 0;
            box-shadow: none;
            padding: 19px 20px;
            letter-spacing: -0.47px;

            &:not(.collapsed) {
                background-color: var(--action);
                color: var(--white);

                &::after {
                    content: "-";
                    background-color: var(--white);
                    color: var(--action);
                    padding-bottom: 6px;
                }
            }

            &::after {
                content: "+";
                background-image: none;
                font-size: 33px;
                width: 30px;
                height: 30px;
                background-color: var(--action);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-weight: 300;
                color: var(--white);
                border-radius: 50%;
            }
        }

        .accordion-item {
            border: 1px solid var(--primary);
            border-radius: 20px;
            filter: drop-shadow(0px 3px 0px var(--primary));
            overflow: hidden;
        }

        .accordion-body {
            background-color: var(--bg);
            font-size: 16px;
            line-height: 2;
            padding: 0 30px 33px 20px;
            background-color: var(--action);
            color: var(--white);
        }

        .accordion-item:not(:first-child) {
            margin-top: 20px;
        }


    }
}

/* team area style  */
.team-area {
    .section-title {
        max-width: 760px;
        margin-inline: auto;

        @media #{$lg} {
            max-width: 660px;
        }

        @media #{$md} {
            max-width: 560px;
        }
    }

    .section-header {
        text-align: center;

        .title-wrapper {
            margin-top: 10px;
        }
    }

    .team-wrapper-box {
        margin-top: 50px;

        @media #{$xl} {
            margin-top: 30px;
        }
    }

    .team-wrapper {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        @media #{$md} {
            grid-template-columns: repeat(2, 1fr);

        }

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);

        }
    }
}

.team-box {
    border: 1px solid var(--primary);
    padding: 30px 30px;
    border-radius: 20px;

    @media #{$lg} {
        padding: 20px 20px;
    }

    &:hover {
        .thumb {
            img {
                transform: scale(1.1);
            }
        }
    }

    .thumb {
        border-radius: 16px;
        overflow: hidden;

        img {
            transition: all 0.5s;
        }
    }

    .content {
        text-align: center;
        margin-top: 30px;

        @media #{$lg} {
            margin-top: 20px;
        }
    }

    .name {
        font-size: 24px;
        line-height: 1.33;
    }

    .post {
        font-size: 16px;
        line-height: 2;
        margin-top: 4px;
    }

    .social-links {
        margin-top: 15px;
        display: flex;
        gap: 20px;
        justify-content: center;

        a {
            font-size: 14px;
            color: #111111;
        }
    }


}

/* blog area style  */
.blog-area {
    .section-title {
        max-width: 470px;

        @media #{$lg} {
            max-width: 400px;
        }

        @media #{$md} {
            max-width: 400px;
        }

        @media #{$sm} {
            max-width: 100%;
        }
    }

    .section-header {
        display: grid;
        gap: 20px 60px;
        grid-template-columns: 1fr auto;
        align-items: flex-end;

        @media #{$sm} {
            grid-template-columns: 1fr;
        }

        .title-wrapper {
            margin-top: 10px;
        }
    }

    .blogs-wrapper-box {
        margin-top: 50px;

        @media #{$xl} {
            margin-top: 30px;
        }
    }

    .blogs-wrapper {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;

        >*:nth-child(2n) {
            .blog {
                .thumb {
                    order: 2;

                    @media #{$lg} {
                        order: inherit;
                    }
                }
            }
        }
    }
}

.blog {
    border: 1px solid var(--primary);
    border-radius: 20px;
    padding: 30px 30px;
    display: grid;
    gap: 20px 30px;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--white);
    filter: drop-shadow(0px 3px 0px var(--primary));

    @media #{$lg} {
        padding: 20px 20px;
    }

    @media #{$xs} {
        grid-template-columns: auto;
    }

    &:hover {
        .thumb {
            img {
                transform: scale(1.1);
            }
        }
    }

    .thumb {
        border-radius: 16px;
        overflow: hidden;
        width: 520px;

        @media #{$xl} {
            width: 470px;
        }

        @media #{$lg} {
            width: 350px;
        }

        @media #{$md} {
            width: 270px;
        }

        @media #{$sm} {
            width: 220px;
        }

        @media #{$xs} {
            width: 100%;
        }

        img {
            transition: all 0.5s;
        }
    }

    .title {
        font-size: 40px;
        line-height: 1.2;
        margin-top: 22px;

        @media #{$xl} {
            font-size: 32px;
        }

        @media #{$lg} {
            font-size: 28px;
        }

        @media #{$md} {
            font-size: 22px;
            margin-top: 12px;
        }

        @media #{$sm} {
            font-size: 20px;
        }
    }

    .meta {
        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.7;
            color: var(--primary);
            text-transform: uppercase;
            font-family: var(--font_spacegrotesk);

            @media #{$sm} {
                font-size: 12px;

            }

            &:not(:first-child) {
                position: relative;
                padding-left: 60px;

                @media #{$sm} {
                    padding-left: 40px;
                }

                &:before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 20px;
                    background-color: #CCCCCC;
                    top: 50%;
                    left: 30px;
                    transform: translateY(-50%);

                    @media #{$sm} {
                        left: 20px;
                        height: 12px;
                    }
                }
            }

        }
    }

    .content-wrapper {
        padding: 0 20px;

        @media #{$md} {
            padding: 0;
        }
    }
}